<header class="w-screen h-dvh flex items-center justify-center flex-col">
    <div class="flex items-center justify-center lg:flex-row flex-col-reverse">
        <div class="flex flex-col items-center lg:items-start">
            <h2 class="lg:text-lg font-bold lg:pl-10 text-sm text-black m-0">Ragosorio presents...</h2>
            <h1 class="text-center font-bold tracking-wider lg:text-9xl text-5xl">DARMimals</h1>
        </div>
        <img src="/animales/elefantes.webp" alt="Elefantes" class="lg:size-60 size-18 lg:ml-0 -ml-4 mb-2 lg:mb-0 elef">
    </div>
    <a href="#allAnimals" class="bg-secondary text-primary border border-white rounded-4xl py-3 px-5 lg:text-xl text-sm lg:mt-5 mt-8 hover:bg-secondaryHover tracking-wider">View now</a>
</header>

<style>
	.elef{
		mix-blend-mode: multiply;
	}
</style>